<mat-toolbar color="primary">
  <span>TrackerDo</span>
</mat-toolbar>
<div class="content-wrapper">
  <div class="stats-container">
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title class="stat-header">🔥Streak</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="stat-number">10</div>
      </mat-card-content>

    </mat-card>

    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title class="stat-header">🧮 Total Days</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="stat-number">50</div>
      </mat-card-content>
    </mat-card>

    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title class="stat-header">🦠 Missed Days</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="stat-number">4</div>
      </mat-card-content>
    </mat-card>
  </div>
  <mat-divider class="stat-divider"></mat-divider>
  <button mat-flat-button color="accent">Add Today's Log</button>
  <mat-divider class="stat-divider"></mat-divider>
  <div class="editor-calendar-block">
    <div class="editor-block"><quill-editor [styles]="{height: '500px'}" (onFocus)="focus($event)"
        (onNativeFocus)="nativeFocus($event)" (onEditorChanged)="changedEditor($event)" (onBlur)="blur($event)"
        (onNativeBlur)="nativeBlur($event)" (onEditorCreated)="created($event)"></quill-editor></div>
    <div class="calendar-block">
      <full-calendar [options]="calendarOptions"></full-calendar>
    </div>

  </div>

</div>